
﻿bcrypt
blinker
breadability
certifi
chardet
charset-normalizer
click
colorama
docopt
editdistpy
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
lxml
MarkupSafe
mysql-connector-python
nltk
numpy
packaging
pycountry
regex
requests
sumy
symspellpy
textblob
tqdm
urllib3
Werkzeug
